
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.dll
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/ConsoleGameApp.pdb
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/ConsoleGameApp.dll
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/ConsoleGameApp.pdb
War_Game/Sports Nap/bin/Debug/net6.0/War_Game.pdb
War_Game/Sports Nap/bin/Debug/net6.0/War_Game.dll
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/War_Game.pdb
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.assets.cache
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.csproj.AssemblyReference.cache
ConsoleGameApp/ConsoleGameApp/obj/ConsoleGameApp.csproj.nuget.dgspec.json
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.assets.cache
War_Game/Sports Nap/obj/Debug/net6.0/War_Game.pdb
War_Game/Sports Nap/bin/Debug/net6.0/War_Game.dll
War_Game/Sports Nap/bin/Debug/net6.0/War_Game.pdb
War_Game/Sports Nap/obj/Debug/net6.0/War_Game.csproj.FileListAbsolute.txt
War_Game/Sports Nap/obj/Debug/net6.0/War_Game.dll
ConsoleGameApp/ConsoleGameApp/obj/project.assets.json
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.pdb
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.genruntimeconfig.cache
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.GeneratedMSBuildEditorConfig.editorconfig
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.dll
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.csproj.FileListAbsolute.txt
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.csproj.CoreCompileInputs.cache
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.csproj.AssemblyReference.cache
ConsoleGameApp/ConsoleGameApp/obj/Debug/net6.0/ConsoleGameApp.assets.cache
ConsoleGameApp/ConsoleGameApp/obj/ConsoleGameApp.csproj.nuget.dgspec.json
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/War_Game.pdb
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/War_Game.dll
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/ConsoleGameApp.pdb
ConsoleGameApp/ConsoleGameApp/bin/Debug/net6.0/ConsoleGameApp.dll
ConsoleGameApp/.vs/ConsoleGameApp/v17/.suo
ConsoleGameApp/.vs/ConsoleGameApp/v17/.futdcache.v1
